DB_URL=jdbc:postgresql://localhost:5432/recruit
DB_USERNAME=recruit_user
DB_PASSWORD=recruit_password
DB_DRIVER=org.postgresql.Driver
KEYCLOAK_BASE_URL=http://localhost:8081
KEYCLOAK_REALM=css-global
KEYCLOAK_CLIENT_ID=css-recruit-api
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/css-global
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
